@import "../../base/styles/vars.scss";

.times {
  display: flex;
  flex-wrap: wrap;

  &__text {
    width: 100%;
    display: block;
    transition: 0.4s;
    line-height: 1;

    &--from {
      text-align: left;
    }

    &--to {
      text-align: right;
    }

    &--dash {
      line-height: rem(2);
      text-align: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 27.5%;
    height: rem(40);
    padding: rem(2);
    border: 1px solid $dark-gray;
    border-radius: rem(2);
    margin-right: 8.75%;
    margin-bottom: rem(6);
    cursor: pointer;
    transition: 0.4s;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0 rem(2) rem(5) 0 rgba(0, 0, 0, 0.3);
      border-color: $black-blue;
      background-color: #fff;

      .times__text {
        color: $black-blue;
      }
    }

    &:active {
      border-color: $black-blue;
      background-color: $black-blue;

      .times__text {
        color: #fff;
      }
    }

    &--no-active {
      background-color: rgba(0, 0, 0, 0.1);
      pointer-events: none;
      cursor: auto;
    }
  }
}
